streamlit
python-dotenv
Pillow
transformers
open-clip-torch
matplotlib
scikit-image
scipy
numpy
opencv-python
pdfplumber
PyMuPDF
mysql-connector-python

pip install streamlit python-dotenv Pillow transformers open-clip-torch matplotlib scikit-image scipy numpy opencv-python pdfplumber PyMuPDF mysql-connector-python
